.page-game {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 50px;
  height: 100%;
}

.pcard {
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
}

.pcard__image-box {
}

.pcard__image {
  border-radius: 5px 5px 0 0;
}

.pcard__content {
  padding: 10px;
}

.pcard__title {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.pcard__chars {
}

.pcard__char {
  display: flex;
  font-size: 1em;
}

.pcard__char-value {
  margin-left: auto;
}

.pcard.pcard_sm .pcard__title {
  font-size: 1.1em;
}

.pcard.pcard_sm .pcard__char {
  font-size: 0.8em;
}

.pcard_sm.pcard_empty {
  height: 252px;
  width: 150px;
  background-image: url(./images/icon-question.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

.pcard_sm.pcard_dead {
  position: relative;
  background-color: rgba(211, 211, 211, 0.2);
  background-image: url(./images/icon-cross.svg);
}

.player-box {
  text-align: center;
  padding: 10px;
}

.player-box_active {
  background-color: rgba(255, 255, 224, 0.8);
}

.player-box .player-info {
  margin-top: 20px;
}

.player-box.player-box_self .player-info {
  margin-top: 0;
  margin-bottom: 20px;
}

.player-info_dead {
  opacity: 0.2;
}

.player-info__name {
  font-size: 1.4em;
}

.player-info__cards {
}

.player-info__cards-icon {
  width: 50px;
}

.player-info__cards-count {
  font-size: 1.3em;
}

.action-box {
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.action-box__message {
  margin: auto;
  text-align: center;
  font-size: 1.8em;
}

.game-status {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.common-pile {
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
  padding: 10px 15px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.game-over-heading {
  font-size: 5.5em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.game-over-icon {
  height: 200px;
}

.game-over-hint {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.game-over-winner {
  margin: 30px 0 50px;
}

.game-over-others {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

.game-over-hint-stats {
  color: #fff;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.game-over-hint-stats__name {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
}

.game-over-hint-stats__status {
  font-size: 1.6em;
  font-weight: bold;
}

.game-over-hint-stats__status_win {
  color: green;
}

.game-over-hint-stats__status_fail {
  color: rgb(173, 0, 15);
}

.game-over-hint-stats__util1 {
}

.game-over-hint-stats__util2 {
}

.game-over-hint-stats__numwon {
  font-size: 1.6em;
  font-weight: bold;
}

.game-over-hint-stats__util3 {
}

.game-over-hint-stats__util4 {
}

.game-over-hint-stats__util5 {
}

.game-over-hint-stats__util6 {
}

.game-over-hint-stats__util7 {
}
